*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.head .container{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.head{
    width: 100%;
    background-color: black;
    height: 40px;
}
.head .container .left{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 40px;
}
.head .container .left p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
}
.head .container .right{
    display: flex;
}
.head .container .right button{
    border: none;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
}
/* ================================================================================ */

header{
    width: 100%;
    border-bottom: 1px solid black;

    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}
.logo, nav ul li a, label{
    color:black;
}

nav ul{
    display: flex;
    /* gap: 0.1rem; */
    height: 100vh;
    align-items: right;

}

nav ul li{
    height: 50px;
    /* border-bottom: 1px solid black; */
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
@media screen and (max-width:1000px) {
    nav ul li{
        margin-left: 0px;
    }
}
nav ul li a{
    text-decoration: none;
    transition: .5s ease;
    font-size: 100%;
    font-weight: 600;
}
nav ul li a:hover{
    color: rgb(145, 140, 140);
    cursor: pointer;
}
    label{
        display: block;
    }
    nav{
        position: absolute;
        background: #ffff;
        top: -40px;
        left: -20px;
        /* width: 150px; */
        padding: 10px;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }
    nav ul li a, nav label{
        color: black;
    }
    nav ul{
        flex-direction: column;
    }
    nav label{
        text-align: right;
    }
    input:checked~nav{
        visibility: visible;
        opacity: 1;
        width: 25%;
        z-index: 23;
    }
    @media screen and (max-width:1000px) {
        input:checked~nav{
          width: 50%;
        }
      }
      nav ul li::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 0.15rem;
        background-color: black;
        transition: 0.4s;
        transform: scaleX(0);
    }
    nav ul li:hover::before{
        transform: scaleX(1);
    }
header .container{
    display: flex;
}

.acer{
    width: 10%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 50px;
}
.acer i{
    font-size: 1.3rem;

}
.img{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user{
    width: 10%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 50px;
}
.user i{
    padding: 9px;
    font-size: 1.3rem;
}
/* =========================================================================== */
.contact .container{
    display: flex;
}
.contact .container .left{
    width: 40%;
    /* background-color: red; */
}
.contact .container .right{
    width: 60%;
    /* background-color: blue; */
}
.contact .container .right form .mb-3 .form-control{
    border-radius: 0px;
}
@media screen and (max-width:1000px) {
    .contact .container{
        display: block;
    }
    .contact .container .left p{
        text-align: center;
    }
    .contact .container .left h1{
        text-align: center;
    }
    .contact .container .left h2{
        text-align: center;
    }
    .contact .container .left{
        width: 100%;
    }
    .contact .container .right{
        width: 100%;
    }
    .contact .container .right h1{
        text-align: center;
    }
}
nav ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 0.15rem;
    background-color: black;
    transition: 0.4s;
    transform: scaleX(0);
}
nav ul li:hover::before{
    transform: scaleX(1);
}
 .icon{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-top: 20px;
}
footer .foot .icon .icon-card i{
    color: #ffff;
    transition: ease .5s;
    font-size: 2rem;
}
.container{
    flex-wrap: wrap;
}
 .icon .icon-card i:hover{
    color: #c8cb15;
}
#input-focus:focus{
    box-shadow: none;
    border-color: none;
}
/* =====================             up          ================= */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #555;
  } 

/* ===================             mode                  ============ */
#modeBtn {
    display: flex;
    position: fixed;
    top: 120px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}
  
#modeBtn:hover {
    background-color: #555;
}
body{
    background-color: #fff;
}
body .dark {
    background-color: black;
    color: #fff;
}
body .light #foot ul li a{
    color: black;
  }
body .dark #foot ul li a{
    background-color: black;
    color: #fff;
  }
  body .dark li{
    color: #fff;
  }
  body .dark #myBtn{
    background-color: #fff;
    color: black;
  }
  body .dark header{
    color: #fff;
    background-color: black;
    border-bottom: 1px solid #fff;
    border-top: 0.1px solid #4e4949;
  }
  body .dark header .container .acer i{
    color: #fff;
    background-color: black;
  }
  body .dark input:checked~nav{
    color: #fff;
    background-color: black;
  }
  body .dark input:checked~nav ul li a{
    color: #fff;
  }
  body .dark .right #contact-form .mb-3 label{
    color: #fff;
  }
  body .dark #shopimg{
    filter: invert(1);
    object-fit:contain;
  }
  body .dark #footer-loqo-dark{
    filter: invert(1);
    object-fit:contain;
  }
  body .light #footer-loqo-dark{
    object-fit:contain;
  }
  #lang-btn {
    display: flex;
    position: fixed;
    top: 180px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    padding: 10px;
}
  
#lang-btn:hover {
    background-color: #555;
}
body .dark #lang-btn{
    background-color: #fff;
    color: black;
  }
  body .dark #search-dark{
    color: #fff;
  }
  body .light #search-dark{
    color: black;
  }